{
	http_port
	https_port
	admin off
}

(namelessmc) {
	@nameless-blocked path_regexp \.(tpl|cache)$
	route @nameless-blocked {
		respond "Page forbidden." 403
	}
	try_files {path} /index.php?route={path}&{query}
}

# You can replace :<port> with a domain such as "example.com", to where only requests from that host will be routed. 
example.com {
	root * /home/container/public
	file_server
	encode zstd gzip

	php_fastcgi unix//tmp/php-fpm.sock

	# Uncomment for NamelessMC websites; if Nameless is under a sub directory add route /forum { ... } around the code.
	# import namelessmc

	# Uncomment for Wordpress websites; Additional configuration is required for wordpress to fully work. Follow wp-config.php section of https://wordpress.org/support/topic/wp-behind-reverse-proxy-all-content-insecure/#post-12281484
	# try_files {path}.php
}

# In this default state, Caddy will host all files under /public in the web server. Feel free to change and completely modify this file!
# You can check the CaddyServer wiki at https://caddyserver.com/docs/caddyfile/.
