{
    http_port 
    https_port 
    admin off
}

# Replace "example.com" with your domain/accessing url or else caddy will yell at you.
example.com {
    root * /home/container/public
    file_server
    encode zstd gzip

    php_fastcgi unix//tmp/php-fpm.sock
    
    # Uncomment for NamelessMC websites; if Nameless is under a sub directory add route /forum { ... } around the code. 
    # @nameless-blocked path_regexp \.(tpl|cache)$
    # route @nameless-blocked {
    #     respond "Page forbidden." 403
    # }
    # try_files {path} /index.php?route={path}&{query}
}

# In this default state, Caddy will host all files under /public in the web server. Feel free to change and completely modify this file!
# You can check the CaddyServer wiki at https://caddyserver.com/docs/caddyfile/.