{
    http_port 
    https_port 
    admin off
}

# Replace "example.com" with your domain/accessing url or else caddy will yell at you.
example.com {
    root * /home/container/public
    file_server
    encode zstd gzip

    php_fastcgi unix//run/php/php7-fpm.sock
}

# In this default state, Caddy will host all files under /public in the web server. Feel free to change and completely modify this file!
# You can check the CaddyServer wiki at https://caddyserver.com/docs/caddyfile/.